<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Task name</th>
      <th>Task time</th>
      <th>Start button</th>
      <th>Stop button</th>
      <th>Reset button</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td>Estimated <%= task.task_time_in_minutes %> minutes</td>

        <td><button onClick="timer.start(1000 , 1)">Start</button></td>
        <td><button onClick="timer.stop()">Stop</button></td>
        <td><button onClick="timer.reset()">Reset</button></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'initiate'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

       timer:<div class="timer">
            <span class="hour">00</span>:<span class="minute">00</span>:<span class="second">00</span>
        </div>
    

<br>


